body {
    margin: 0;
    font-family: Avenir Next, Arial, sans-serif;
}

/* Navigation */

.nav {
    background-color: #153248;
    width: 100%;
    height: 60px;
     position: fixed;
    z-index: 1; 
}

.navtext {
    color: #FAE9D7;
    position: relative;
    left: 500px;
    padding-top: 10px;
    text-align: right;
    word-spacing: 3em;
    font-size: 1.5vw;
    padding-bottom: 10px;
    display: inline-block; 
}

.logo {
    max-height: 50px; 
    margin: 5px;
} 

a {
    text-decoration: none;
    color: #FAE9D7;
}

a:visited {
    text-decoration: none;
    color: #FAE9D7;
}


/* landing page */

.home {
    height: 605px;
    width: 100%;
    background-color: #D0E4F4;
}

.home h1 {
margin: auto;
font-weight: 900;
font-size: 90px;
text-align: center;
letter-spacing: -0.055em;
color: #1A354B;
padding-top: 150px;
}

.home h4 {
margin: auto;
padding-left: 250px;
padding-right: 250px;
padding-top: 60px;
font-family: Avenir Next;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 120%;
text-align: center;
letter-spacing: -0.055em;
color: #1A354B;
}

.dots {
position: absolute;
width: 907.94px;
height: 600px;
left: 180.85px;
top: -70px;
transform: rotate(1.36deg);
z-index: 0;
}

.fork {
    position: absolute;
    transform: rotate(90deg);
    max-height: 500px;
    top: 220px;
    left: 570px;
    z-index: 0;
}

/* .scroll {height: 800px; background-color: #153248;} */

div.scrollmenu {
  background-color: #153248;
  overflow: auto;
  white-space: nowrap;
padding-top: 30px;
}

.scrollmenu::-webkit-scrollbar {
  display: none;
}
.scrollmenu img {display: inline-block; height: 300px; margin: 50px;}

.arrow1 {transform: rotate(90deg); height: 50px; position: absolute; top: 800px; left: 20px; z-index: 0}
.arrow2 {transform: rotate(-90deg); height: 50px; position: absolute; top: 800px; left: 1180px; z-index: 0}
#recipes h1 {position: absolute; top: 615px; left: 510px; z-index: 0; color: #AFCBE1; font-weight: 800;
font-size: 50px;}

/* Recipe collapsable */

#answer {
    background-color: #D2E5F2; 
    padding-bottom: 100px;
    padding-top: 20px;
}

button {
    background-color: #153248;
    border: none;
    height: 50px;
    width: 200px;
    margin-left: 55px;
}

button h4 {
    color: white;
    font-weight: bolder;
    padding-top: 10px;
}

button:hover {background-color: #D2E5F2;}

#recipes {
    margin: auto;
    text-align: center;
    font-weight: bold;
    color: #355975;
    font-size: 4vw;
}
.collapse h2 {
    margin: auto;
    padding-top: 30px;
    text-align: center;
    font-weight: bold;
    color: #355975;
    font-size: 3vw;
}

.collapse h3 {
    margin: auto;
    padding: 30px 120px;
    text-align: center;
    font-weight: bold;
    color: #355975;
    font-size: 1vw;
}

.row h3 {
    font-size: 1em;
    color: #153248;
    text-align: center;
    margin: auto;
   /* position: absolute;
    top: 200px;
    left: 70px; */
    
    font-weight: bold;
    background-color: #D2E5F2;
    padding: 5px;
    margin-top: 200px;
}


/* recipe grid */

.pic1 {background-image: url(img/105926921.jpg);background-size: 250px; height: 250px; background-repeat: no-repeat;
background-position: center; margin-bottom: 40px;}
.pic2 {background-image: url(img/1137_1_1436958546.jpg); background-size: 250px; height: 250px;background-repeat: no-repeat; background-position: center;margin-bottom: 40px;}
.pic3 {background-image: url(img/BL38Wwt1Kv38ic5JzuVf36.jpg); background-size: 250px; height: 250px;background-repeat: no-repeat; background-position: center;margin-bottom: 40px;}
.pic4 {background-image: url(img/1428_2_1434098316.jpg); background-size: 250px;height: 250px;background-repeat: no-repeat; background-position: center;margin-bottom: 40px;}
.pic5 {background-image: url(img/z-RLohGRfqM_large.jpg); background-size: 250px;height: 250px;background-repeat: no-repeat; background-position: center;margin-bottom: 40px;}
.pic6 {background-image: url(img/1432_24_1438681327.jpg); background-size: 250px;height: 250px;background-repeat: no-repeat; background-position: center;margin-bottom: 40px;}
.pic7 {background-image: url(img/1572_2_1437661500.jpg); background-size: 250px;height: 250px;background-repeat: no-repeat; background-position: center;margin-bottom: 40px;}
.pic8 {background-image: url(img/1588_9_1439908243.jpg); background-size: 250px;height: 250px;background-repeat: no-repeat; background-position: center;margin-bottom: 40px;}
.pic9 {background-image: url(img/996_2_1438704243.jpg); background-size: 250px; height: 250px;background-repeat: no-repeat; background-position: center;margin-bottom: 40px;}

/* more page */

#more {
    margin: 50px;
}


.donate {
    height: 136px;
    background-image: url(img/Shoot_11147.jpg);
    margin-bottom: 20px;
    background-size: 730px;
    background-position: center;
}


.factsheet {
    height: 136px;
    background-image: url(img/Shoot_11106.JPG);
    margin-bottom: 20px;
    background-size: 730px;
    background-position: center;
}


.contact {
    height: 448px;
    background-color: #355975;
    padding: 0;
}


 .signup {
    height: 136px;
    background-color: #355975;
    margin-bottom: 20px; 
}

.row h2 {
    color: white;
    font-weight: 600;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 4vw;
}

#more h1 {
    margin: auto;
    padding-bottom: 40x;
    text-align: center;
    font-weight: 800;
    color: #355975;
    font-size: 5vw;
}

.factsheet h2, .donate h2 {
    text-align: left;
    padding-left: 10px;
    font-weight: 700;
    color: #FAE9D7;
    padding-top: 10px;
}

.contact h2, .signup h2 {
    font-size: 3vw;
    padding-top: 10px;
    padding-left: 10px;
    color: #AFCBE1;
    font-weight: bolder;
}

 .arrow4, .arrow3 {transform: rotate(-90deg); height: 60px; float: right; margin-top: 30px;}

.footer {
    background-color: #153248;
    width: 100%;
    height: 60px;
}


/* Responsive media */

 @media (min-width: 768px) { 
     .pic {height: 170px;}
     
     }
}
          
@media (min-width: 1200px){
    .pic {height: 150px;}}

          